.darkBG {
    background: #999;
}

.darkerBG {
    background: #666;
}

.darkestBG {
    background: #333;
}

.month_title {
    text-align: center;
    font-size: 36px;
    font-family: inherit;
    font-weight: 500;
}

.scroll_left {
    float: left;
}

.scroll_right {
    float: right;
}

.vert_center {
    display: flex;
    align-items: center;
}

.day_of_week {
    display: inline-block;
    border: 1px solid #337ab7;
    margin: -1px -1px -1px 0px;
    width: 14.38%;
    text-align: center;
}

.daynum {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: grey;
}

.day_block {
    border: 1px solid #337ab7;
    display: inline-block;
    margin-right: -1px;
    height: 140px;
    width: 139.486px;
}

.row_calendar {
    margin-top: -6px;
}

.diff_month {
    background-color: #F2F2F2;
}