.darkBG {
    background: #999;
}

.darkerBG {
    background: #666;
}

.darkestBG {
    background: #333;
}

.month_title {
    text-align: center;
    font-size: 36px;
    font-family: inherit;
    font-weight: 500;
}

.scroll_left {
    float: left;
}

.scroll_right {
    float: right;
}

.vert_center {
    display: flex;
    align-items: center;
}

.day_of_week {
    display: inline-block;
    border: 1px solid grey;
    margin: -1px -1px -1px 0px;
    text-align: center;
    width: 14.38%;
    
}

.day_block {
    border: 1px solid grey;
    display: inline-block;
    margin-right: -1px;
    height: 140px;
    width: 139.486px;
}

.row_calendar {
    margin-top: -6px;
}