.month_block {
    height: 150px;
    width: 300px;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
}

input[type=radio]{
    visibility: hidden;
    }

.navbutt {
    display: inline;
}

.entire_month {
    height: 529px;
    width: 1190px;
    border: 4px solid black;
}

#month_title {
    height: 60px;
    border: 4px solid black;
    margin-top: -4px;
    margin-left: -4px;
    margin-right: -4px;
}

.day_of_week {
    display: inline-block;
    width: 168px;
    border: 1px solid black;
    height: 28px;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 28px;
    font-family: georgia;
}

#weekdays {
    border: 2px solid black;
    margin: -4px -4px 0px -2px;
    height: 30px;
}

.day_block {
    height: 85px;
    width: 168px;
    display: inline-block;
    border: 1px solid black;
    padding: none;
    margin: none;
    text-align: right;
    font-size: 10pt;
    font-family: georgia;
}