<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Calendar App</title>
        <link type="text/css" rel="stylesheet" href="/static/style.css?v=4"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">


        <script type="text/javascript" src="/static/script.js?v=1"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
    <body>
        <header>
            <nav>
                <ul>
                    <li class="navbutt"><a href="/">Home</a></li>
                    <li class="navbutt"><a href="/calendar">Calendar</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>A Daily Notification App</h1>
            <section id="content">
            {% block body %}{% endblock %}
            </section>
        </main>
        <footer>
            <p>A Pyramid Powered Daily Notification Application</p>
        </footer>
        <!-- Latest compiled and minified CSS -->
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="/static/script.js?v=1"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>
