<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Calendar App</title>
        <link type="text/css" rel="stylesheet" href="/static/style.css?v=15"/>
        <!-- Bootstrap: -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
        <!-- Bootstrap Formhelpers -->
        <link href="/static/formhelpers/bootstrapformhelpers/css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen"/>
        <link href="/static/dropdowns-enhancement.css" rel="stylesheet" type="text/css"/>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
    <body>
        <header class="navbar-inverse" role="banner">
            <div class="container">
                <nav role="navigation">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#"><em>FranFinder</em></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li><a href="/">Today's Events</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                        {% if not request.authenticated_userid %}
                        <li><a href="{{request.route_url('login')}}">Login</a></li>
                        {% else %}
                        <li><a href="{{request.route_url('logout')}}">Logout</a></li>
                        {% endif %}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Calendar <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/calendar_month?month=1">January</a></li>
                            <li class="divider"></li>
                            <li><a href="/calendar_month?month=2">February</a></li>
                            <li class="divider"></li>
                            <li><a href="/calendar_month?month=3">March</a></li>
                            <li class="divider"></li>
                            <li><a href="/calendar_month?month=4">April</a></li>
                            <li class="divider"></li>
                            <li><a href="/calendar_month?month=5">May</a></li>
                            <li class="divider"></li>
                            <li><a href="/calendar_month?month=6">June</a></li>
                            <li class="divider"></li>
                            <li><a href="/calendar_month?month=7">July</a></li>
                            <li class="divider"></li>
                            <li><a href="/calendar_month?month=8">August</a></li>
                            <li class="divider"></li>
                            <li><a href="/calendar_month?month=9">September</a></li>
                            <li class="divider"></li>
                            <li><a href="/calendar_month?month=10">October</a></li>
                            <li class="divider"></li>
                            <li><a href="/calendar_month?month=11">November</a></li>
                            <li class="divider"></li>
                            <li><a href="/calendar_month?month=12">December</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
            </div>        
        </header>
        <main>
            <div class="container">
                <h1>A Daily Notification App</h1>
                <section id="content">
                {% block body %}{% endblock %}
                </section>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="row">
                    <p></p>
                    <p>A Pyramid Powered Daily Notification Application</p>
                </div>
            </div>
        </footer>
        <!-- jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/script.js?v=7"></script>
        <script src="/static/formhelpers/bootstrapformhelpers/js/bootstrap-formhelpers.js"></script>
        <script type="text/javascript" src="/static/dropdowns-enhancement.js"></script>
    </body>
</html>
