{% extends "base.jinja2" %}
{% block body %}
<div class="container">
    <div class="row vert_center" style="border: 1px solid gray; height: 70px;">
        <div class="col-md-3">
            <form action="{{ request.route_url('calendar_month') }}" method="GET">
                <label class="scroll_left">
                    <button type="radio" id="{{ prev_month }}" name="month" value="{{ prev_month }}" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                </label>
            </form>
        </div>
        <div class="col-md-6 month_title">
            {{ month_name }}
        </div>
        <div class="col-md-3">
            <form action="{{ request.route_url('calendar_month') }}" method="GET">
                    <label class="scroll_right">
                        <button type="radio" id="{{ next_month }}" name="month" value="{{ next_month }}" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </button>
                    </label>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="day_of_week">Sunday</div><!--
        --><div class="day_of_week">Monday</div><!--
        --><div class="day_of_week">Tuesday</div><!--
        --><div class="day_of_week">Wednesday</div><!--
        --><div class="day_of_week">Thursday</div><!--
        --><div class="day_of_week">Friday</div><!--
        --><div class="day_of_week">Saturday</div>
    </div>
        <form action="{{ request.route_url('date') }}" method="GET">
            <div class="row">
            {% for date in dates[:7] -%}
            {%- if date == 0 -%}
            <label><div class="day_block diff_month"></div></label>
            {%- else -%}
            <label for="{{ date }}"><!--
            -->{% if date.month != the_month %}<div class="day_block diff_month">
                    <div class="daynum">{{ date.day }}</div>
                </div>{% else %}<div class="day_block">
                    <div class="daynum">{{ date.day }}</div>
                </div>{% endif %}<!--
        --></label><!--
            --><input type="radio" class="radio-button" style="display: none;" id="{{ date }}" name="date" value="{{ date }}"/>            
            {%- endif -%}{%- endfor %}</div>


            <div class="row row_calendar">{% for date in dates[7:14] -%}
            <label for="{{ date }}"><!--
            --><div class="day_block">
                    <div class="daynum">{{ date.day }}</div>
                </div><!--
        --></label><!--
            --><input type="radio" class="radio-button" style="display: none;" id="{{ date }}" name="date" value="{{ date }}"/>            
            {%- endfor %}</div>
            <div class="row row_calendar">{% for date in dates[14:21] -%}
            <label for="{{ date }}"><!--
            --><div class="day_block">
                    <div class="daynum">{{ date.day }}</div>
                </div><!--
        --></label><!--
            --><input type="radio" class="radio-button" style="display: none;" id="{{ date }}" name="date" value="{{ date }}"/>            
            {%- endfor %}</div>
            <div class="row row_calendar">{% for date in dates[21:28] -%}
            <label for="{{ date }}"><!--
            --><div class="day_block">
                    <div class="daynum">{{ date.day }}</div>
                </div><!--
        --></label><!--
            --><input type="radio" class="radio-button" style="display: none;" id="{{ date }}" name="date" value="{{ date }}"/>            
            {%- endfor %}</div>

            <div class="row row_calendar">{% for date in dates[28:35] -%}
            <label for="{{ date }}"><!--
            -->{% if date.month != the_month %}<div class="day_block diff_month">
                    <div class="daynum">{{ date.day }}</div>
                </div>{% else %}<div class="day_block">
                    <div class="daynum">{{ date.day }}</div>
                </div>{% endif %}<!--
        --></label><!--
            --><input type="radio" class="radio-button" style="display: none;" id="{{ date }}" name="date" value="{{ date }}"/>            
            {%- endfor %}</div>
            
            <div class="row row_calendar">{% for date in dates[35:42] -%}
            <label for="{{ date }}"><!--
            -->{% if date.month != the_month %}<div class="day_block diff_month">
                    <div class="daynum">{{ date.day }}</div>
                </div>{% else %}<div class="day_block">
                    <div class="daynum">{{ date.day }}</div>
                </div>{% endif %}<!--
        --></label><!--
            --><input type="radio" class="radio-button" style="display: none;" id="{{ date }}" name="date" value="{{ date }}"/>            
            {%- endfor %}</div>
        </form>
</div>
{% endblock %}