{% extends "base.jinja2" %}
{% block body %}
<form action="{{ request.route_url('calendar_month') }}" method="GET">
    <ul>
        {% for month in calendar %}
        <li>
            <label for="{{ month }}">{{ month.name }}</label>
            <input type="radio" id="{{ month }}" name="month" value="{{ month.num }}"/>
        </li>
        {% endfor %}
    </ul>
    <button type="submit">Submit **Rid this with JQuery!**</button>
</form>
{% endblock %}