{% extends "base.jinja2" %}
{% block body %}
{% for month in calendar %}
    <h2>{{ month }}</h2>
    <ul>
        {% for day in month %}
        <li>{{ day }}</li>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}