{% extends "base.jinja2" %}
{% block body %}
<p>{{ readable_date }}</p>
<table class="tables" border="1px" width="600px">
    {% for event in events %}
    <tr>
        <td width="30%">{{ event[0] }}</td>
        <td width="70%">{{ event[1] }}</td>
    </tr>
    {% endfor %}
</table>
<aside>
    <div class="container">
        <div class="row">
            <form action="{{request.route_url('add')}}" method="POST">
                <div class="input-group">
                  <input type="text" class="form-control" aria-label="..." placeholder="Event description" name="description"/>
                  <div class="input-group-btn">
                    <!-- Button and dropdown menu -->
                    <button type="button" class="btn btn-default">Repeat</button>
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Never</a></li>
                        <li><a href="#">Every week</a></li>
                        <li><a href="#">Every other week</a></li>
                        <li><a href='#'>Every month</a></li>
                      </ul>
                  </div>
                </div>
            </form>
        </div>
    </div>
</aside>
{% endblock %}