{% extends "base.jinja2" %}
{% block body %}
    <h2>{{ today }}</h2>
    {% for event in events %}
    <article class="event" id="event={{event.id}}">
        <h3>{{ event }}: {{ events[event] }}</h3>
    </article>
    {% else %}
    <div class="event">
        <p><em>No events today!</em></p>
    </div>
    {% endfor %}
{% endblock %}

