{% extends "base.jinja2" %}
{% block body %}
<div class="container">
    <div class="row">
        <h2 style="color: #337ab7;">{{ today }}</h2>
    </div>
    {% for event in events %}
    <div class="row">
        <div class="panel panel-success" id="{{ loop.index }}">
            <div class="panel-heading">
                <h3 class="panel-title">{{ event[0] }} - {{ event[1] }}</h3>
            </div>
            <div class="panel-body">
                {{ event[2] }}
            </div>
        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        var theDate = new Date();
        var currentDate = (theDate.getMonth() + 1) + "/" + theDate.getDate() + "/" + theDate.getFullYear();
        var startTime = new Date("{{ event[0] }} " + currentDate);
        var endTime = new Date("{{ event[1] }} " + currentDate);

        if (theDate > startTime && theDate < endTime) {
            $('#{{ loop.index }}').switchClass('panel-success', 'panel-warning');
        }else if(theDate > endTime) {
            $('#{{ loop.index }}').switchClass('panel-success', 'panel-default');
        }

    </script>
    {% else %}
    <div class="row">
        <div class="col-md-6">
            <h4>No Events Today!</h4>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

