{% extends "base.jinja2" %}
{% block body %}
<div class="container" style="width: 970px !important;">
    <div class="row">
        <h2 class="titles scroll_left col-md-4" style="margin-top: 40px; margin-left: -14px;">{{ date.strftime('%A') }}</h2>
        <p class="col-md-4" id="current_time"></p>
        <h2 class="scroll_right cold-md-4" style="font-family: Arial; margin-top: 40px"><a style="text-decoration: none;" href="{{ date_route }}">{{ today | replace("*", ("&nbsp;"|safe)) }}</a></h2>
    </div>
    {% for event in events %}
    <div class="row">
        <div class="panel panel-success" data-start-time="{{ event.start_time }}" data-end-time="{{ event.end_time }}">
            <div class="panel-heading">
                <h3 class="panel-title">{{ event.start_time }} - {{ event.end_time }}<span class="scroll_right" style="margin-right: 25px;"><em>{{ event.user }}</em></span></h3>
            </div>
            <div class="panel-body">
                {{ event.description }}
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-6 title">
            <h4>No Events Today!</h4>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

